*~
*.pyc

build.*.log
Makefile
NMake
install.*.history
setup.*
cleanup.*
version.cmt
genConf/
QMTest/
InstallArea/
patches/
test_results/

*-slc5-*/
i686-winxp-vc9-dbg/

.*-slc5-*.d/
.i686-winxp-vc9-dbg.d/

DoxyWarnings.log
.gdb_history
*.new
*.launch
*.launch.py
*.launch.opts

.project
.cproject
.settings
.pydevproject

.build/
CMakeFiles/
CTestTestfile.cmake
CPackSourceConfig.cmake
CPackConfig.cmake
cmake_install.cmake
GaudiConfig.cmake
GaudiConfigVersion.cmake
