*~
*.pyc

build.*.log
Makefile
install.*.history
setup.*
cleanup.*
version.cmt
genConf/
QMTest/
InstallArea/
patches/

DoxyWarnings.log
.gdb_history
*.new
*.launch
*.launch.py
*.launch.opts

.project
.cproject
.settings
.pydevproject

.build/
CMakeFiles/
CTestTestfile.cmake
CPackSourceConfig.cmake
CPackConfig.cmake
cmake_install.cmake
GaudiConfig.cmake
GaudiConfigVersion.cmake
