repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: "\\.clang-format$"
    -   id: check-toml
    -   id: check-added-large-files
-   repo: https://gitlab.cern.ch/lhcb-core/dev-tools/check-include-convention.git
    rev: 0.1.0
    hooks:
    -   id: check-include-convention
-   repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.6
    hooks:
    -   id: clang-format
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.4
    hooks:
    # Run the linter.
    -   id: ruff
        args: [ --fix ]
        exclude: "^.*/options/.*$"
    # Run the formatter.
    -   id: ruff-format
-   repo: local
    hooks:
    -   id: copyright-year
        name: update copyright year
        language: script
        entry: utils/update_copyright_year.py
        types_or: [c++, c, python, cmake, xml, yaml]
        exclude: |
            (?x)(
                ci-utils/preset-.*\.cmake|
                lhcbproject\.yml|
                tests/.*\.yaml|
                \.clang-format
            )
