/* Coloring of results */
.PASS {
color: green;
}
.FAIL, .ERROR {
color: red;
}
.UNTESTED {
color: orange;
}

.testid {
color: black;
}
.testid:hover {
color: red;
}

.fieldid .clickable {
color: black;
}
.fieldid .clickable:hover {
color: red;
}

.results .cause {
color: gray;
font-size: small;
}

/* ** Cursor feedback ** */
/* Tooltip feedback */
.with_tooltip {
	cursor: help;
}
/* clickable feedback */
.clickable {
	cursor: pointer;
	color: blue;
}
.clickable:hover {
	color: red;
}

/* foldable list bullets */
li.foldable {
  list-style: none;
}
