/* Coloring of results */
.PASS {
color: green;
}
.FAIL, .ERROR {
color: red;
}
.UNTESTED {
color: orange;
}
.results .cause {
color: gray;
font-size: small;
}
.results span.testid:hover {
	color: red;
}
.results span.fieldid:hover {
	color: red;
}
/* "Collapse all" */
.results ul + span:hover  {
	color: blue;
}
span.togglelink:hover {
	color: red;
}
/* ** Cursor feedback ** */
/* Tooltip feedback */
.with_tooltip {
	cursor: help;
}
/* clickable feedback */
.clickable {
	cursor: pointer;
}
